body{
    margin: 0;
    font-family: Montserrat, serif;
    background-color: #171723;
    color: white;
}
header{
    background-color: #22202e;
    height: 130px;
}
.header-content img{
    float: left;
    margin: 30px 50px;
    width: 250px;
    height: 70px;
}
nav{
    padding: 30px 50px 40px 50px;
}
nav>a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin:  50px;

}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #fdb700;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #403d50;
    padding: 10px 0;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
}

nav ul li ul li a {
    padding: 10px 20px;
    color: #ffffff;
}

nav ul li ul li a:hover {
    background-color: #8a6907;
}
.content{
    width: 1300px;
    margin: 0 auto;
}
span{
    color: #ffb800;
}
*.first-block{
    height: 850px;
}
*.popular-film {
    float: left;
    width: 800px;
    height: 550px;
    margin: 75px 15px;
    background-image: url("img/c46063b1dc5b559b.jpg");
}
.popular-film-text{
    margin: 400px 0 0 50px;
}
.popular-film-text h1{
    font-size: 48px;
    margin-bottom: 10px ;
}
h1 + h2{
    font-size: 36px;
    font-weight: normal;
    margin-top: 10px;
}
.film-table{
    padding: 50px 15px;
}
.film-table td img{
    height: 250px;
}
td{
    padding: 0;
    margin: 10px 5px;
}
.second-block{
    height: 750px;

    background-color: #22202e;

}
.second-block img{
    width: 250px;
    height: 70px;
    display: block;
    margin: 0 auto;
    padding: 45px 0;
}
.first-list h3{
    text-align: center;
    margin-top: 0;
    font-size: 24px;
}
.first-list li{
    margin: 30px 90px;
    font-size: 18px;
    line-height:30px ;
}
.third-block{
    height: 550px;

}
.second-list>h3{
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
}
.second-list li{
    margin: 30px 90px;
    font-size: 18px;
    line-height:30px ;
}
.forth-block{
    height: 600px;
    background-color: #22202e;

}
.form h3{
    text-align: center;
    padding-top: 50px ;
    font-size: 24px;
}
.form form{
    text-align: center;
    margin-top:100px;
}
input{
    border: 1px solid #ffb800;
    border-radius: 20px;
    background-color: #353244;
    color: white;
    padding: 15px;
    width: 180px;
}
input[type=submit] {
    background-color: #8a6907;
    color: white;
    border: none;
    font-family: Montserrat, serif;
}
#footer-img{
    float: left;
    margin: 15px 50px;
    width: 150px;
    height: 70px;
}
.sm-icons img{
    height: 50px;
    width: 50px;
    margin: 15px;
}
.sm-icons{
    text-align: left;
    margin-right: auto;
}
.footer-content {
    position: relative;
}

.social-media {
    position: absolute;
    top: 0;
    right: 0;
}